<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Thrones</title>
    <link rel="stylesheet" href="../static/css/lists.css"/>
    <script src="../static/js/regions.js" defer></script>

</head>
<body>

    <button onclick="window.location.href='/'" class="btn-home">
        Home
    </button>

    <center>
      <h1>Characters</h1>
    
      <p><i>Quantidade de elementos: {{qtd.qtd}}</i></p>

      <div class="search-container">
        <form action="/search" method="GET">
            <input type="text" name="query" class="search-input" placeholder="search..." />
            <button type="submit" class="search-btn">🔍</button>
        </form>
      </div>

    </center>
    <table>
      <tr>
        <th>
            <b>Name</b>
          </th>
        <th>
          <b>Title</b>
        </th>
      </tr>
      {% for c in characters %}
      <tr>
        <td>
            <a href="/characters/{{c.character_id }}">{{ c.character }}</a>
          </td>
        <td>
          {{ c.title }}
        </td>
      </tr>
      {% endfor %}
    </table>

</body>
</html>
